p#pogrubienie_gorzoch{
    font-size:34px;
    color: rgb(137,93,209);
}
p#pochylona_gorzoch{
    font-size:39pt;
    color: rgb(237,193,109);
}
p#index_gorny_gorzoch{
    font-size:0,9cm;
    color: rgb(157,143,29);
}
p#index_dolny_gorzoch{
    font-size:2,3cm;
    color: rgb(57,243,229);
}
p#mono_gorzoch{
    font-size:44px;
    color: rgb(29,223,109);
}
p#powiekszenie_gorzoch{
    color: rgb(84,63,159);
}
p#pomniejszenie_gorzoch{
    color: rgb(184,163,59);
}